#include <winver.h>

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", ""
            VALUE "ProductName", "Hello World"
            VALUE "ProductVersion", "1.0.0.0"
            VALUE "InternalName", "hello"
            VALUE "OriginalFilename", "hello.exe"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "FileDescription", ""
            VALUE "LegalCopyright", "."
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04E4
    END
END
